# 파일 불러오기

### 로컬에서 csv 파일 읽기

In [28]:
import pandas as pd

file_path = "D:/AI_data/mobile.csv"
df = pd.read_csv(file_path)

print(df.head())

   battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  \
0            842     0          2.2         0   1       0           7    0.6
1           1021     1          0.5         1   0       1          53    0.7
2            563     1          0.5         1   2       1          41    0.9
3            615     1          2.5         0   0       0          10    0.8
4           1821     1          1.2         0  13       1          44    0.6

   mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0        188        2  ...         20       756  2549     9     7         19
1        136        3  ...        905      1988  2631    17     3          7
2        145        5  ...       1263      1716  2603    11     2          9
3        131        6  ...       1216      1786  2769    16     8         11
4        141        2  ...       1208      1212  1411     8     2         15

   three_g  touch_screen  wifi  price_range
0        0             0     1            1
1        1             1     0            2
2        1             1     0            2
3        1             0     0            2
4        1             1     0            1

[5 rows x 21 columns]

### 웹에서 csv 파일 읽기

In [29]:
import pandas as pd

url = "https://github.com/MyungKyuYi/AI-class/raw/main/mobile.csv"  # blob -> git에서 파일을 브라우저에서 볼 수 있게 / raw -> 원본 데이터
df = pd.read_csv(url)

print(df.head())

   battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  m_dep  \
0            842     0          2.2         0   1       0           7    0.6
1           1021     1          0.5         1   0       1          53    0.7
2            563     1          0.5         1   2       1          41    0.9
3            615     1          2.5         0   0       0          10    0.8
4           1821     1          1.2         0  13       1          44    0.6

   mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  talk_time  \
0        188        2  ...         20       756  2549     9     7         19
1        136        3  ...        905      1988  2631    17     3          7
2        145        5  ...       1263      1716  2603    11     2          9
3        131        6  ...       1216      1786  2769    16     8         11
4        141        2  ...       1208      1212  1411     8     2         15

   three_g  touch_screen  wifi  price_range
0        0             0     1            1
1        1             1     0            2
2        1             1     0            2
3        1             0     0            2
4        1             1     0            1

[5 rows x 21 columns]

### 로컬에서 xlsx 파일 읽기

In [30]:
import pandas as pd

file_path = "D:/AI_data/combined_dataset-1.xlsx"
df = pd.read_excel(file_path)

print(df.head())

   Num.  subject_ID Sex(M/F)  Age(year)  Height(cm)  Weight(kg)  \
0     1           2   Female         45         152          63
1     1           2   Female         45         152          63
2     1           2   Female         45         152          63
3     2           3   Female         50         157          50
4     2           3   Female         50         157          50

   Systolic Blood Pressure(mmHg)  Diastolic Blood Pressure(mmHg)  \
0                            161                              89
1                            161                              89
2                            161                              89
3                            160                              93
4                            160                              93

   Heart Rate(b/m)  BMI(kg/m^2)  ...  2091  2092  2093  2094  2095  2096  \
0               97    27.268006  ...  1766  1766  1766  1833  1833  1827
1               97    27.268006  ...  1985  1985  2026  2026  2026  1977
2               97    27.268006  ...  1942  1900  1900  1938  1938  1938
3               76    20.284799  ...  2073  2072  2072  2072  2051  2051
4               76    20.284799  ...  2021  2010  2010  2010  2001  2001

   2097  2098  2099  2100
0  1827  1827  1754  1754
1  1977  1997  1997  1997
2  1924  1924  1929  1929
3  2036  2036  2036  2045
4  2003  2003  2003  1989

[5 rows x 2114 columns]

### 웹에서 xlsx 파일 읽기

In [31]:
import pandas as pd

url = "https://github.com/MyungKyuYi/AI-class/raw/main/combined_dataset-1.xlsx"
df = pd.read_excel(url)

print(df.head())

   Num.  subject_ID Sex(M/F)  Age(year)  Height(cm)  Weight(kg)  \
0     1           2   Female         45         152          63
1     1           2   Female         45         152          63
2     1           2   Female         45         152          63
3     2           3   Female         50         157          50
4     2           3   Female         50         157          50

   Systolic Blood Pressure(mmHg)  Diastolic Blood Pressure(mmHg)  \
0                            161                              89
1                            161                              89
2                            161                              89
3                            160                              93
4                            160                              93

   Heart Rate(b/m)  BMI(kg/m^2)  ...  2091  2092  2093  2094  2095  2096  \
0               97    27.268006  ...  1766  1766  1766  1833  1833  1827
1               97    27.268006  ...  1985  1985  2026  2026  2026  1977
2               97    27.268006  ...  1942  1900  1900  1938  1938  1938
3               76    20.284799  ...  2073  2072  2072  2072  2051  2051
4               76    20.284799  ...  2021  2010  2010  2010  2001  2001

   2097  2098  2099  2100
0  1827  1827  1754  1754
1  1977  1997  1997  1997
2  1924  1924  1929  1929
3  2036  2036  2036  2045
4  2003  2003  2003  1989

[5 rows x 2114 columns]